<h1>Listing badges</h1>

<%= render :partial => 'badge', :collection=>@badges %>

<% if current_user.admin? %>
	<div class='clear'></div>
	<%= link_to 'New Badge', new_badge_path, :class => "button" %>
<% end %>
