/* Table of Content (CTRL+F #n#)
==================================================
#1# Reset & Utilities
#2# Basic Styles
#3# Links
#4# Headings
#5# Forms
#6# Header
#7# Footer
#8# Buttons
#9# Notifications
#10# Print */

/* #1# Reset & Utilities
================================================== */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}

audio[controls],
canvas,
video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

html {
	font:14px sans-serif; *font-size:small; *font:x-small; line-height:1.6; 
	overflow-y: scroll; /* 2 */
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* 3 */
	-webkit-text-size-adjust: 100%; /* 4 */
	-ms-text-size-adjust: 100%; /* 4 */
}

body {
	margin: 0;
}

body,
button,
input,
select,
textarea {
	font-family: sans-serif;
}

img {
	border: 0; /* 1 */
	-ms-interpolation-mode: bicubic; /* 2 */
}

a {
	color: #00e;
}

a:visited {
	color: #551a8b;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

blockquote {
	margin: 1em 40px;
}

dfn {
	font-style: italic;
}

mark {
	background: #ff0;
	color: #000;
}

pre,
code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	_font-family: 'courier new', monospace; /* 2 */
	font-size: 1em;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

q {
	quotes: none;
}

q:before,
q:after {
	content: '';
	content: none;
}

small {
	font-size: 75%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

ul,
ol {
	margin: 1em 0;
	padding: 0 0 0 40px;
}

dd {
	margin: 0 0 0 40px;
}

nav ul,
nav ol {
	list-style: none;
}

figure {
	margin: 0;
}

form {
	margin: 0;
}

fieldset {
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	*margin-left: -7px;
}

button,
input,
select,
textarea {
	font-size: 100%; /* 1 */
	margin: 0; /* 2 */
	vertical-align: baseline; /* 3 */
	*vertical-align: middle; /* 3 */
}

button,
input {
	line-height: normal; /* 1 */
	*overflow: visible; /* 2 */
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer; /* 1 */
	-webkit-appearance: button; /* 2 */
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto; /* 1 */
	vertical-align: top; /* 2 */
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th,
td {
	padding: 0;
	text-align: left;
	vertical-align: middle;
}

.ir { /* image replacement */
	display: block;
	text-indent: -999em;
	overflow: hidden;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
}

.clear { /* <br class="clear"> */
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:before,
.clearfix:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
	zoom: 1;
}

/* #2# Basic Styles
================================================== */

body {
	color:#191919;
	background: #f2f2f2 url(../images/bg.jpg) repeat-x top;
}

#container {
	width: 960px;
	margin: 0 auto;
}

#main {
	background: #fff;
	color:#191919;
	border:1px solid #d9d9d9;
	position:relative;
	z-index:1;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	margin-top: 15px;
	padding: 35px 40px;
}

/* #3# Links
================================================== */

a, 
a:active, 
a:visited {
	color:#1d94c3;	
}

a:hover {
	text-decoration: none;
}

.content a:visited {
	color: #146;
}

/* #4# Headings
================================================== */

/* h1 = top logo. see #5# */

h2 { /* fancy ribbon header */
	font-size: 28px;
	padding:15px 30px;
	margin: 5px 0 30px -55px;
	display: inline-block;
	border-radius:3px 3px 3px 0px;
	-moz-border-radius:3px 3px 3px 0px;
	-webkit-border-radius:3px 3px 3px 0px;
	background:url(../images/grad-blue.gif) repeat-x center top #166890;
	border:1px solid #11506F;
	color:#FFFFFF;
	text-shadow:0 -1px 0 #11506F;
	position: relative;
}

h2:after { /* 3d triangle pseudo element */
	position:absolute;
	content: '';
	border-style: solid;
	border-color: transparent;
	border-width: 0 15px 15px 0;
	border-right-color: #146;
	left: -1px;
	bottom: -15px;
}

h2.full {
	width: 100%;
}

h2.full button, h2.full .button, h2.full small {
	float: right;
	margin: 0;
}

h2 small {
	font-size: 13px;
	padding-top: 12px;
}

h2 a {
	color: #fff;
}

h3 {
	font-size: 18px;
}

/* #5# Forms
================================================== */

form label {
	float:left;
	width:180px;
	margin:10px 10px 0 0;
}

input, 
textarea {
	padding:10px 10px;
	margin: 0;
	font-size: 16px;
	background:#fff url(../images/bg-input.gif) repeat-x top;
	border:1px solid #D9D9D9;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

input.error {
	border:1px solid #f45d43;
}

div.field {
	margin-bottom: 20px;
}

#error_explanation {
	background:url("../images/error.png") no-repeat 20px center #FECDC6;
	margin: 20px 0;
	padding: 2px 35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.forgotten {
	display: inline-block;
	margin-top: 20px;
}

/* #6# Header
================================================== */

header {
	margin-top: 40px;
	text-align: right;
}

#logo, 
#user-strap, 
#user-nav {
	display: inline;
	float: left;
	margin: 0 30px 0 0;
}

/* Logo */

#logo {
	width: 205px;
	text-align: left;
}

h1 {
	background: url(../images/logo.png) no-repeat scroll 0 0 transparent;
	font-size: 35px;
	width: 205px;
	height: 45px;
	margin: 0;
}

h1 a {
	display: block;
	height: 68px;
}

/* Mini login form */

#user-strap {
	width: 480px;
	color: #666;
	height: 45px;
	overflow: hidden;
}

#user-nav {
	width: 215px;
	margin: 0;
}

.no-js #user-strap { /* No JS fixes */
	height: 100px;
}

.no-js #user-nav {
	margin-top: 45px;
}

.ie6 #login-slider,
.ie7 #login-slider,
.ie8 #login-slider {
	margin-top: -45px;
}

#hidden_submit_button {
	display: none;
	visibility: hidden;
}

/* Top nav */

nav {
	margin: 0 0 35px 0;
}

nav ul {
	line-height: 100%;
	margin: 0;
	padding: 0;
}
nav ul li {
	float: left;
	position: relative;
	list-style: none;
	z-index:100;
	margin-right:25px;
	padding-bottom:5px;
}
/* main level link */
nav ul a {
	font-weight: bold;
	text-decoration: none;
	display: block;
	padding:  8px 12px;
	font-size:113%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-bottom:1px solid #fff;
}
nav ul a:hover {
	background: #000;
	color: #000;
}
/* main level link hover */
nav ul a.active, nav ul li:hover > a {
	background: #e5e5e5;
	color: #444;
	border-top: solid 1px #cccccc;
	border-left: solid 1px #cccccc;
	border-right:1px solid #e0e0e0;
	border-bottom:1px solid #e0e0e0;
	padding:7px 11px 8px;
	text-shadow:0 1px 0 #FFFFFF;
}
/* sub levels link hover */
nav ul ul li:hover a, nav ul li:hover li a {
	background: none;
	border: none;
	color: #666;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
nav ul ul a:hover {
	background: #f2f2f2 !important;
	color: #1A1A1A !important;
	padding:10px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
/* dropdown */
nav ul li:hover > ul {
	display: block;
}
/* level 2 list */
nav ul ul {
	display: none;
	margin: 0;
	padding: 0;
	width: 185px;
	position: absolute;
	top: 35px;
	left: 0;
	background: #fafafa;
	border: solid 1px #d9d9d9;
	z-index:100;
	font-size:100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
nav ul ul li {
	float: none;
	margin: 0;
	padding: 0;
}
nav ul ul a {
	font-size:100%;
	font-weight:normal;
	padding:10px !important;
}
nav ul ul a:hover {
	font-size:100%;
	font-weight:normal;
	padding:10px;
}
/* level 3+ list */
nav ul ul ul {
	left: 185px;
	top: 1px;
}
/* rounded corners of first and last link */
nav ul ul li:first-child > a {
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
}
nav ul ul li:last-child > a {
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
}
/* clearfix */
nav ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
nav ul {
	display: inline-block;
}
html[xmlns] nav ul {
	display: block;
}
* html nav ul {
	height: 1%;
}

/* #7# Footer
================================================== */

footer {
	color: #666;
}

/* #8# Buttons
================================================== */

button, 
.button {
	cursor:pointer;
	display:inline-block;
	font-size:15px;
	font-weight:700;
	margin:0 5px 0 0;
	outline:none;
	padding:10px 15px;
	width:auto;
	text-align:center;
	text-decoration:none !important;
	vertical-align:top;
	background:url("../images/grad-blue.gif") repeat-x center top #166890;
	border:1px solid #11506f;
	color:#fff !important;
	text-shadow:0 -1px 0 #11506f;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

body.ie7 button, 
body.ie8 button, 
body.ie7 .button, 
body.ie8 .button {
	zoom:1;
	display:inline;
}

button.large, .button.large {
	font-size:138.5%;
	padding:10px 30px;
}

button.small, .button.small {
	font-size:93%;
	padding:4px 10px 5px;
	margin-top: 10px;
}

input.button { /* <input class="button"> fix */
	padding: 12.5px 15px;
}

/* Default (blue) */

button:hover, 
.button:hover {
	background:url("../images/grad-blue-hover.gif") repeat-x center top #166890;
	text-decoration:none;
	outline:none;
}

button:active, 
.button:active {
	position:relative;
	top:1px;
	outline:none;
	background:url("../images/grad-blue-rev.gif") repeat-x center top #166890;
}

/* Black */

button.black, 
.button.black {
	background:url("../images/grad-black.gif") repeat-x center top #3b3b3b;
	border:1px solid #3b3b3b;
	color:#FFFFFF;
	text-shadow:0 -1px 0 #3b3b3b;
}

button.black:hover, 
.button.black:hover {
	background:url("../images/grad-black-hover.gif") repeat-x center top #3b3b3b;
}

button.black:active, 
.button.black:active {
	background:url("../images/grad-black-rev.gif") repeat-x center top #3b3b3b;
}

/* Green */

button.green, .button.green {
	background:url("../images/grad-green.gif") repeat-x center top #518f14;
	border:1px solid #406f11;
	color:#FFFFFF;
	text-shadow:0 -1px 0 #406f11;
}

button.green:hover, .button.green:hover {
	background:url("../images/grad-green-hover.gif") repeat-x center top #166890;
}

button.green:active, .button.green:active {
	background:url("../images/grad-green-rev.gif") repeat-x center top #166890;
}

/* Grey */

button.grey, .button.grey {
	background:url('../images/grad-grey.gif') repeat-x center top #c3c3c3;
	border:1px solid #c3c3c3;
	color:#444 !important;
	text-shadow:0 -1px 0 #FFFFFF;
}

button.grey:hover, .button.grey:hover {
	background:url('../images/grad-grey-hover.gif') repeat-x center top #c3c3c3;
	text-decoration:none;
	outline:none;
}

button.grey:active, .button.grey:active {
	position:relative;
	top:1px;
	outline:none;
	background:url('../images/grad-grey-rev.gif') repeat-x center top #c3c3c3;
}

/* #9# Notifications 
================================================== */

.notification.success {
	background:#f1ffbf url('../images/success.png') no-repeat 20px center;
	border-color:#a6d50f;
}
.notification.success span.strong {
	color:#283304;
}
.notification.error {
	background:#fecdc6 url('../images/error.png') no-repeat 20px center;
	border-color:#f45d43;
}
.notification.error span.strong {
	color:#33130e;
}
.notification.warning {
	background:#ffecb0 url('../images/warning.png') no-repeat 20px center;
	border-color:#ffbc2a;
}
.notification.warning span.strong {
	color:#332508;
}
.notification.info {
	background:#d4e7f5 url('../images/information.png') no-repeat 20px centerx;
	border-color:#589ad7;
}
.notification.info span.strong {
	color:#152433;
}
.notification.tip {
	background:#ffeccd url('../images/tip.png') no-repeat 20px center;
	border-color:#dd9854;
}
.notification.tip span.strong {
	color:#332313;
}
.notification {
	padding:5px 10px 5px 50px;
	border:1px solid #fff;
	margin-bottom:30px;
	margin-right: 20px;
	position:relative;
	font-size:100%;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.notification .close {
	background:url("../images/close.png") no-repeat scroll 0 0 transparent;
	cursor:pointer;
	display:block;
	height:16px;
	position:absolute;
	right:10px;
	top:13px;
	width:16px;
}
.notification .close:hover {
	opacity:1;
}
.notification.nopic {
	background-image:none;
	padding:10px;
}
.notification span.strong {
	margin-right:10px;
	float:left;
}

/* #10# Print 
================================================== */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

/* #11# Home Page 
================================================== */

#newest_lessons, #latest_blog_posts {
	list-style-type: none;
	padding: 0;
}

#newest_lessons {
	margin: -15px 0 30px 0;
}

#newest_lessons li {
	width: 262px;
	float: left;
	padding-right: 30px;
	margin-bottom: 10px;
}

#newest_lessons li img {
	border: solid 1px #ccc;
}

#latest_blog_posts {
	width: 500px;
	float: left;
}

#latest_blog_posts li {
	padding-bottom: 25px;
}

#latest_blog_posts h3, #leaderboard h3 {
	margin-top: 0;
}

#leaderboard {
	float: right;
	width: 250px;
}

#leaderboard ol {
	padding: 0;
}

#leaderboard ol li{
	border-top: solid 1px #ccc;
	padding: 10px 0;
}