<%= render :partial => 'code_mirror', :locals=>{:code=>@code}%>

<div id="exercise-problem-text">
  <%= @exercise.text %>
</div>

<div id="message">
  <p><%=raw to_html_msg(@message) %></p>
</div>

<div id="grade-sheet-wrapper">
</div>

<%= image_tag 'spinner.gif', :id=>'spinner', :style=>"display:none" %>

<% content_for :javascript do %>
  <% javascript_include_tag 'jquery_ujs' %>
<% end %>

<% content_for :javascript do %>
  <% javascript_include_tag 'application' %>
<% end %>
