<% grade = "" %>
<% if defined? grades and grades %>
  <% grade = grades[exercise_li.id] %>
<% end %>

<li class="exercise_li">
  <span><%= exercise_li.title %></span> (<%= grade %>)
  <%= button_to("Start Exercise",
                start_coding_path(exercise_li)) %>
  <p>
    <%= exercise_li.description %>
  </p>
</li>
