<li class="exercise-li">
  <span class="exercise-li-title"><%= exercise_li.title %></span> 
  <span class="exercise-li-grade"><%= grade_for(current_user, :on => exercise_li) %></span>
  <%= button_to("Start Exercise",
                start_coding_path(exercise_li),
                :class=>"button",
                :method=>:post) %>
  <p>
    <%= exercise_li.description %>
  </p>
</li>
