<% grades = GradeSheet.grades_for(current_user) %>
<% grade = grades[exercise_li.id] || ""         %>

<li class="exercise_li">
  <span class="exercise_li_title"><%= exercise_li.title %></span> 
  <span class="exercise_li_grade">(<%= grade %>)</span>
  <%= button_to("Start Exercise",
                start_coding_path(exercise_li)) %>
  <p>
    <%= exercise_li.description %>
  </p>
</li>
