<h2>Exercises</h2>

<div id="exercises">
  <%= render :partial=>'exercise', :collection => @exercises %>
</div>

<% if current_user.admin? %>
	<div class='clear'></div>
	<%= link_to 'New Exercise', new_exercise_path, :class => "button" %>
<% end %>
